<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/index.css" rel="stylesheet" />
		<link href="css/settlement.css" type="text/css" rel="stylesheet" />
		<script src="js/jquery/jquery-3.4.1.js"></script>
	</head>
	<body>
		<!-- top-bar -->
		<div class="top-bar">
			<div class="top-bar-cen">
				<div class="top-bar-rigth">
					<div style="float: left; margin-right: 10px;">
						<div class="containerde" id="Obj">
							<a href="#">
								<div class="tou"></div>
								<div class="zi">
									<span>甜心</span>
								</div>
							</a>
							<div class="fruits" id="Obj1">
								<div>
									<div>
										<div class="yin">
											<div class="line"><a href="#">个人信息</a></div>
											<div class="line"><a href="#">我的订单</a></div>
											<div class="line"><a href="#">修改密码</a></div>
											<div class="line"><a href="#">退出</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div style="float: left; line-height: 40px;padding: 5px 0 5px 0;">
						<a href="cart.html">购物车</a>
					</div>
				</div>

			</div>
		</div>

		<!-- header -->
		<header class="header">
			<!-- logo和搜索 -->
			<div class="wf-wrap">
				<div class="wf-table">
					<div class="logo-bar">
						<div>
							<img src="images/logo2.png" style="width: 105px; height: 105px;" />
						</div>
					</div>
					<div class="assistive-info">
						<div>
							<input type="text" class="input-text" />
							<button class="input-btn" />
						</div>
					</div>
				</div>
			</div>
			<!-- 导航 -->
			<div class="navigation-holder">
				<div class="nav">
					<ul>
						<li class="nav-li">
							<a href="index.html">
								<span>首页</span>
							</a>
						</li>
						<li class="nav-li">
							<a href="course-classification.html">
								<span>课程分类</span>
							</a>
						</li>
						<li class="nav-li">
							<a href="#">
								<span>字段填充</span>
							</a>
						</li>
						<li class="nav-li">
							<a href="#">
								<span>字段填充</span>
							</a>
						</li>
						<li class="nav-li">
							<a href="#">
								<span>字段填充</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<!-- 内容区域 -->
		<div class="bit_main_content">
			<div class="settlement-cen">
				<div class="settlement-text">
					<span>提示：下单后商品直接保存到你的账户里面</span>
				</div>
				<div class="settlement-account">
					<div>
						<div class="dingdan">
							<span>订单详情</span>
						</div>
						<div class="dingdan-header">
							<div class="shangpin"><span>商品</span></div>
							<div class="heji"><span>合计</span></div>
						</div>
						<div class="quanbu">
							<div class="shangpin-list">
								<div class="shangpin-list-img">
									<a href="#">
										<img src="images/huihua.jpg" />
									</a>
								</div>
								<div class="shangpin-list-name">
									<span><a href="#">二次元动漫绘画课程</a></span><span> ×1</span>
								</div>
								<div class="shangpin-list-price">
									<span>￥</span><span>600</span>
								</div>
							</div>
							
							<div class="shangpin-list">
								<div class="shangpin-list-img">
									<a href="#">
										<img src="images/huihua.jpg" />
									</a>
								</div>
								<div class="shangpin-list-name">
									<span><a href="#">二次元动漫绘画课程</a></span><span> ×1</span>
								</div>
								<div class="shangpin-list-price">
									<span>￥</span><span>600</span>
								</div>
							</div>
							
							<div class="shangpin-list">
								<div class="shangpin-list-img">
									<a href="#">
										<img src="images/huihua.jpg" />
									</a>
								</div>
								<div class="shangpin-list-name">
									<span><a href="#">二次元动漫绘画课程</a></span><span> ×1</span>
								</div>
								<div class="shangpin-list-price">
									<span>￥</span><span>600</span>
								</div>
							</div>
						</div>
						
						<div class="dingdan-header dingdan-xiaoji">
							<div class="shangpin"><span>购物车小计</span></div>
							<div class="heji font">
								<span>￥</span><span>1800</span>
							</div>
						</div>
						
						<div class="dingdan-header dingdan-yuanfei">
							<div class="shangpin"><span>运费</span></div>
							<div class="heji font"><span>免费配送</span></div>
						</div>
						
						<div class="dingdan-header dingdan-zongji">
							<div class="shangpin"><span>商品总计</span></div>
							<div class="heji font">
								<span>￥</span><span>1800</span>
							</div>
						</div>
						
						<div class="dingdan-header fukuanfangshi">
							<div class=""><span>付款方式</span></div>
							<div class="fanshi">
								<span>
									<input type="radio" name="zhifu" value="1">支护宝</input>
								</span>
								<span>
									<input type="radio" name="zhifu" value="2">微信</input>
								</span>
								<span>
									<input type="radio" name="zhifu" value="3">银行卡</input>
								</span>
							</div>
							<div>
								<div class="xiadan">下单</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- footer -->
		<footer id="footer" class="footer">
			<div class="footer-info">
				<div class="footer-info-t1">郑重声明：内容均系原创，已申请版权保护，请勿盗版。</div>
				<div class="footer-info-t2">
					<ul>
						<li><a href="#">隐私保护</a></li>
						<li><a href="#">版权声明</a></li>
						<li><a href="#">退换货政策</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
				<div class="footer-info-t3">Copyright © 2010-2017 yougou有限公司. All Rights Reserved.</div>
			</div>
		</footer>

	</body>

	<script type="text/javascript">
		$("#Obj,#Obj1").mousemove(function() {
			$("#Obj1").css("display", "block");
			$("#Obj").css("border-bottom", "4px solid #5FB878");
		})
		$("#Obj,#Obj1").mouseleave(function() {
			$("#Obj1").css("display", "none");
			$("#Obj").css("border-bottom", "none");
		})
	</script>

</html>
