<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.stupiddog.dao.console.ConsoleUserDao">

    <!--查询所有用户信息-->
    <select id="findByUser" resultType="UserInfo">
		SELECT
            u.username,ui.*,r.role
        FROM
            `t_user` AS u,
            t_user_info AS ui,
            t_role AS r,
            t_user_role AS ur
        WHERE
            u.id = ui.user_id
            AND ur.user_id = u.id
            AND ur.role_id = r.id
	</select>


    <!-- 修改用户的角色 -->
    <update id="updateRoleId" parameterType="UserRole">
        UPDATE
            `t_user`
        SET
            role_id = #{roleId}
        WHERE
            id = #{userId}
    </update>

    <!-- 按照user_id删除user表数据-->
    <delete id="deleteUserId" parameterType="Integer">
        DELETE FROM `t_user` WHERE id = #{id}
    </delete>

    <!-- 按照user_id删除user_info表数据-->
    <delete id="deleteUserInfoId" parameterType="Integer">
        DELETE FROM `t_user_info` WHERE user_id = #{id}
    </delete>

    <!-- 按照user_id删除user_course表数据-->
    <delete id="deleteUserCourseId" parameterType="Integer">
        DELETE FROM `t_user_course` WHERE user_id = #{id}
    </delete>


    <!-- 修改用户的角色 -->
    <update id="updateUserImage" parameterType="UserInfo">
        UPDATE
            `t_user_info`
        SET
            imagePath = #{imagePath},
            modifytime = #{modifytime}
        WHERE
            user_id = #{userId}
    </update>
</mapper>