<!-- top-bar -->
<div class="top-bar">
    <div class="top-bar-cen">
        <div class="top-bar-rigth">
            <div class="user" :style="{display:a}">
                <div class="containerde">
                    <a href="/toLogin">请登录</a>
                </div>
            </div>
            <div class="users" :style="{display:a}">
                <div class="containerde" id="Obj">
                    <a href="#">
                        <div class="touxiang">
                            <img src="../../images/front_desk/yemian/huihua.jpg"/>
                        </div>
                        <!--                            <div class="zi">-->
                        <!--                                <span>无敌的你又回来了</span>-->
                        <!--                            </div>-->
                    </a>
                    <div class="fruits" id="Obj1">
                        <div>
                            <div>
                                <div class="yin">
                                    <div class="line"><a href="#">个人信息</a></div>
                                    <div class="line"><a href="#">我的订单</a></div>
                                    <div class="line"><a href="#">修改密码</a></div>
                                    <div class="line"><a href="#">退出</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="float: left; line-height: 40px;padding: 5px 0 5px 0;">
                <a href="/toCart">购物车</a>
            </div>
        </div>

    </div>
</div>

<!-- header -->
<header class="header">
    <!-- logo和搜索 -->
    <div class="wf-wrap">
        <div class="wf-table">
            <div class="logo-bar">
                <div>
                    <img src="../images/front_desk/yemian/logo2.png" style="width: 105px; height: 105px;"/>
                </div>
            </div>
            <div class="assistive-info">
                <div>
                    <input type="text" class="input-text"/>
                    <button class="input-btn"/>
                </div>
            </div>
        </div>
    </div>


    <!-- 导航 -->
    <div class="navigation-holder">
        <div class="nav">
            <ul id="ul-title">
                <li class="nav-li" v-for="(i,index) in list">
                    <a :href="i.src">
                        <span>{{i.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>

<script>




    var v = new Vue({
        el: ".users",
        data:{
            // a : 'none'
            a : 'block'
        }
    })

    var v1 = new Vue({
        el: ".user",
        data:{
             a : 'none'
            // a : 'block'
        }
    })

    /*遍历一级标题*/
    var li = new Vue({
        el: "#ul-title",
        data:{
            list:[
                {name:"首页", src:"/index"},
                {name:"课程分类", src:"/index"},
                {name:"字段填充", src:"/index"},
                {name:"字段填充", src:"/index"},
            ]
        }
    })

    /* 个人信息 */
    $("#Obj,#Obj1").mousemove(function () {
        $("#Obj1").css("display", "block");
        $("#Obj").css("border-bottom", "4px solid #5FB878");
    })

    $("#Obj,#Obj1").mouseleave(function () {
        $("#Obj1").css("display", "none");
        $("#Obj").css("border-bottom", "none");
    })


</script>